{% extends "base.html" %}

{% block page_title %}Actor Detail{% endblock page_title %}

{% block body %}
    <h1>Actor: {{ actor.name }}</h1>
    <h4>Description: {{ actor.description }}</h4>
    <p>Oscars: {{ actor.oscars }}</p>
    <p>Age: {{ actor.age }}</p>
    <p>Likes: {{ actor.likes }}</p>

    {% if actor.movies.all %}
        <p>Movies:</p>
        <ul>
            {% for movie in movies %}
                <li><a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{#    <form action="{% url 'actor_detail' actor.id %}" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="submit" value="Libí se">#}
{#    </form>#}
{% endblock body %}