{% extends "base.html" %}

{% block body %}
    <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        {{ contact_form.name.name }}:
        {{ contact_form.name }}
        {{ contact_form.name.errors }}
        <br><br>
        {{ contact_form.email.name }}:
        {{ contact_form.email }}
        {{ contact_form.email.errors }}
        <br><br>
        {{ contact_form.movies.name }}:
        {{ contact_form.movies }}
        {{ contact_form.movies.errors }}
        <br><br>
        {{ contact_form.contact_at.name }}:
        {{ contact_form.contact_at }}
        {{ contact_form.contact_at.errors }}
        <br><br>
        {{ contact_form.subject.name }}:
        {{ contact_form.subject }}
        <br><br>
        {{ contact_form.description.name }}:
        {{ contact_form.description }}
        {{ contact_form.description.errors }}
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock body %}